<h1>Welcome to Login Page</h1>
<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-6"> -->
            <!-- image -->
            <!-- <img src="https://i.pinimg.com/originals/de/80/ca/de80ca4922b016784c86f80ee5c8966f.gif" alt="">
        </div> -->
        <div class="login">
            <!-- form -->
            <form (ngSubmit)="login()"  [formGroup]="loginForm">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Account Number</label>
                  <input name="acno" formControlName="acno" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div *ngIf="this.loginForm.get('acno')?.errors&&this.loginForm.get('acno')?.touched" class="text-danger">*Invalid Account Number</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input name="password" formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                  <div *ngIf="this.loginForm.get('password')?.errors&&this.loginForm.get('password')?.touched" class="text-danger">*Invalid Password</div>
                </div>
                <h5 class="text-danger">{{loginError}}</h5>
                <button type="submit" class="btn">Submit</button>
                <br><br>
                  <h6 style="margin-left: 130px;" *ngIf="loginSuccess" >Loading.. Please Wait...
                  <div class="spinner-border text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div></h6>
                <div class="reg">
                  <span>First Time User?</span><span class="re"><a routerLink="register">Register Here</a></span>
              </div>
              </form>
        </div>
    </div>
</div>